.entryTitle {
    word-break: break-word;
}

.entry h1 {
    margin: 0 !important;
    margin-bottom: 1rem !important;
}

.entryContent {
    img {
        /* override the default image size from the website to prevent stretching
        */
        height: auto;
    }

    video {
        /* override the default video size from the website to prevent stretching
        */
        width: 100%;
        height: auto;
    }
}

.entrySummary {
    background-color: light-dark(
        var(--mantine-color-gray-1),
        var(--mantine-color-dark-9)
    );
}
