.entry {
    margin-top: 0.8rem;
    margin-right: 1em;
}

.entryCard {
    transition: background-color 0.3s;
    cursor: pointer;
}

.entryCard:hover {
    background-color: light-dark(
        var(--mantine-color-gray-1),
        var(--mantine-color-dark-7)
    );
}

.activeEntry {
    background-color: light-dark(
        var(--mantine-color-gray-1),
        var(--mantine-color-dark-7)
    );
}

.readEntry {
    color: light-dark(var(--mantine-color-gray-6), var(--mantine-color-dark-3));
}

.entryTitle {
    word-break: break-word;
}
