{
    "singleQuote": true,
    "overrides": [
        {
            "files": [
                "**/*.yaml",
                "**/*.yml"
            ],
            "options": {
                "singleQuote": false
            }
        }
    ],
    "plugins": [
        "@trivago/prettier-plugin-sort-imports"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "importOrder": [
        "^@mantine/(.*)/styles.css$",
        ".*styles.css$",
        ".*module.css$",
        "",
        "dayjs",
        "^react$",
        "^next$",
        "^next/.*$",
        "<BUILTIN_MODULES>",
        "<THIRD_PARTY_MODULES>",
        "^@mantine/(.*)$",
        "^@mantinex/(.*)$",
        "^@mantine-tests/(.*)$",
        "^@docs/(.*)$",
        "^@/.*$",
        "^../(?!.*.css$).*$",
        "^./(?!.*.css$).*$",
        "\\.css$"
    ]
}
