includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:

    paths:
        - app/

    # Level 10 is the highest level
    level: 5

    ignoreErrors:
        # Collection/Paginator template covariance is a known issue with Larastan
        -
            message: '#Anonymous function should return Illuminate\\(Pagination\\LengthAwarePaginator|Support\\Collection).* but returns Illuminate\\(Pagination\\LengthAwarePaginator|Support\\Collection).*#'
            paths:
                - app/Actions/ShowFeedReader.php

#    excludePaths:
#        - ./*/*/FileToBeExcluded.php
