body {
    overscroll-behavior: none;
}

pre {
    white-space: pre-wrap;
    word-break: break-word;
}

/* https://dev.to/lennythedev/css-gotcha-how-to-fill-page-with-a-div-270j */
html,
body {
    margin: 0 !important;
    padding: 0 !important;
}
