name: Build

on: [push]

jobs:
  build-frontend:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: "24"
      - name: npm ci
        run: npm ci

      - name: npm run build
        run: npm run build
